
input[type="checkbox"],
input[type="radio"] {
position: absolute;
visibility: hidden;
}

.settings-box-element {
z-index: 10;
}

.buttons-wrapper {
position: fixed;
top: 360px;
right: -200px;
width: 200px;
height: 240px;
background: #fff;
opacity: 0.8;
}

.settings-btn + label {
position: fixed;
top: 360px;
left: 0;
display: block;
width: 35px;
text-align: center;
cursor: pointer;
}

.settings-btn:checked + label {
left: 200px;
}

.settings-btn:checked ~ .buttons-wrapper {
left: 0;
}

.layout-buttons {
display: block;
width: 150px;
padding: 10px 0;
text-align: center;
border: 2px solid black;
box-sizing: border-box;
font-size: 0.875em;
cursor: pointer;
}

.settings-btn:checked ~ .layout-buttons {
left: 30px;
}

input[type="radio"]:checked + label {
background: #e83737;
color: #fff;
opacity: 0.5;
border-color: #e83737;
}

.default + label {
position: fixed;
top: 380px;
left: -150px;
}

.dark-layout + label {
position: fixed;
top: 430px;
right: -150px;
}

.coffee1-layout + label {
position: fixed;
top: 480px;
right: -150px;
}

.coffee2-layout + label {
position: fixed;
top: 530px;
right: -150px;
}

.hide-show-content + label {
position: fixed;
top: 320px;
right: -150px;
}

.dark-layout:checked ~ .lorgeDiv {
background: url("/images/desk8.jpg");
background-repeat: no-repeat;
height:100%;   
background-size: cover;
background-position: left;     
}

.default:checked ~ .lorgeDiv {
background: #f2f2f2;
height:100%;
}

.coffee1-layout:checked ~ .lorgeDiv {
background: url("/images/desk6.jpg");
background-repeat: no-repeat;
height:100%;   
background-size: cover;
background-position: center;
}

.coffee2-layout:checked ~ .lorgeDiv {
background: url("/images/desk7.jpg");
background-repeat: no-repeat;
height:130%;
background-size: cover;
background-position: center;
}

.sections{
  margin-top:40px;
}

.ptitle{
  height:70px;
  width:290px;
  font-size:24px;
  font-weight:900;
  padding:10px;
  margin:20px;
  border:none;
}

.spacer{padding:4%;}

.options{
  margin-top:20px;
  margin-left:9%;
}

.btn-secondary{
  background-color:#d9d9d9;
  color:gray;
  border-bottom: 2px solid;
}

.bigDiv{
  max-width:50%;
  background-color:white;
  margin-left:25%;
  display:block;
  position:relative;
  box-shadow: 0 36px 35px rgba(50,50,93,.1), 0 17px 15px rgba(0,0,0,.07);
}
.bigDiv::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-width: 0 2rem 2rem 0;
  border-style: solid;
  border-radius: 0;
  border-color: #fff #f2f2f2 #fff #fff;
  box-shadow: -3px 4px 3px 0 rgba(0,0,0,.11);
  content: '';
  z-index: 10;
}

.bottom{
  width:100%;
  position:fixed;
  bottom:0;
  height:80px;
  padding:10px;
  border-top:2px solid #ededed;
  background-color:white;
}

.pull-right {
  position: relative;
  float:right;
  margin-right:20%;
  margin-top:-25px;
}

.pull-right button{margin-right:10px;}

.timer{
  font-weight:800;
  margin-left:25%;
  margin-top:15px;
}

.cog{
 float:right;
 margin-right:25%;
 margin-top: 10px;
}

.icon{
  margin-left:25%;
}

.top{
  max-width:100%;
  padding:20px;
  border-bottom: 2px solid #ededed;
  margin-bottom: 30px;
  background-color:white;
}

.full-height {
  margin-top: 10%;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.content {
  text-align: center;
}

.title {
  font-size: 84px;
}

.links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.m-b-md {
  margin-bottom: 30px;
}

.is-complete {
  text-decoration: line-through;
}

.notification{
  color: white;
  padding-top:20px;
  background-color: red;
  height: 100px;
  border-radius: 5px;
}


.modal.right .modal-content {
  height: 100%;
  width:550px;
  padding:10px;
}

.modal.right.fade .modal-dialog {
  position:absolute;
  right: 0px;
  top:0;
  width:100%;
  padding:10px;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
  -o-transition: opacity 0.3s linear, right 0.3s ease-out;
          transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
  right: 0;
}

